<%# This is the administrator landing page view %>
<p style="color: green"><%= notice %></p>

<%# Displaying the first name of the user from the session along with the page title %>
<p>Hello <%= session[:fname] %></p>
<h3>Administrator Landing Page</h3>

<%# The button below takes the logged-in user to the form to edit their personal details %>
<%= link_to "Edit your account details", edit_user_path(session[:user_id]), class: 'btn btn-primary mt-3' %>