<br>
<h1>About MyQuote</h1>
<br>
<h5>Welcome to MyQuote!</h5>
<hr />
<p>A unique place devoted towards sharing the wisdom of philosophical quotes.</p>
<p>Our goal is to create a space where those who share a passion for philosophy may gather to share and discover insightful ideas from the greatest minds in history.</p>

